.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 90vh;
    background-image: url(../images/hero.jpg);
}
#contact-form{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    width: 30vw;
    height: 50vh;
    
    padding:3rem;
    border: solid 2px;
    background-color: rgba(104, 103, 103, 0.822);
}
input{ 
    padding:5px;
    border-radius: 5px;
    border: none;
    /* line-height: 2; */
    margin-top:5px;
}
textarea{
    min-height: 100px;
    border-radius: 5px;
    padding:5px;
}
.submit{
    cursor: pointer;
    padding: .5rem;
    margin-top: 1rem;
    width: 50%;
    align-self: center;
    border:none;
    border-radius: 5px;
    background-color:rgb(159, 228, 133)

}
.submit:hover{
    box-shadow:0 15px 10px 3px rgba(0,0,0,0.24);
    -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.submit:active{
    background-color: indianred;
    -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

@media screen and (max-width:1025px){
    #contact-form{
        width: 80vw;

    }
}
@media screen and (max-width:760px){
    #contact-form{
        
        
    }
    .contact{
        
    }
}