html{
  scroll-behavior: smooth;   

}


.hero {
  background-image: url(./images/hero.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh; 
  color: white;
}

header{
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  
}
.hello{
  font-family:'Oswald' ;
  font-size: calc(12px + 2vmin);
  line-height:1;
  font-weight: bold ;
  letter-spacing: 5px;
  display:inline-flex;
  max-width: 50vw;
  flex-direction: column;
  margin-left: 3vw;
}
.hello h3{
  width: 60%;
}
content{
  width: 80vw;
  margin:10vw;
  font-size: calc(10px + 1vmin);
  display:grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50vh 50vh;
}
.first-row {
  
  text-align: center;
}
.second-row {
  text-align: center;
  grid-column-start: span 2;
}

footer{
  text-align: center;
  background-color: rgb(77, 224, 138);
  height: 10vh;
  display: flex;
  align-content: space-around;
  justify-content: center;
}
footer > p{
  margin: 0rem;
    }

    @media screen and (max-width:1025px){
      .hello h3{
        width:80%
  }
}
  @media screen and (max-width:760px){
     .hello{
       /* font-size:calc(12px + 1vmin); */

     }
     .hello h3{
       width: 100%;
     }
  }